<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/layout.html :: html_head"/>

<body>
<div th:replace="fragments/layout.html :: menu"/>
		<!--navigation bar-->
	<div align="center">
		<h1>Edit leave balance</h1>
		<br/>
		<form action="#" th:action="@{/editeleavebalance/}+${leavebalance.userleaveid}" th:object="${leavebalance}" method="POST">
			<table>
				<tr>
					<td>user leave id: </td>
					<td><input type="text" th:field="*{userleaveid}"/></td>
				</tr>
				<tr>
					<td>user name: </td>
					<td><input type="text" th:field="*{name}"/></td>
				</tr>

				<tr>
					<td>leave type: </td>
					<td><input type="text" th:field="*{type}"/></td>
				</tr>
				
				<tr>
					<td>Balance: </td>
					<td><input type="text" th:field="*{balance}"/></td>
				</tr>
				
				<tr>
					<td><input type="submit" value="Update"/></td>
				</tr>
				
				
			</table>
		</form>
	</div>
</body></html>


